extends layout

block content
  div(class='index_main')
    div(class='index_main_left')
      div(class='index_main_left_one')
        h5(class='')
          img(src='/images/erweima.jpg')
          二逼青年的博客
        ul(class='')
          li
            i(class='fa fa-heart')  关注
            label 10000
          li
            i(class='fa fa-file')  文章
            label 28
          li(style='border:0;')
            i(class='fa fa-database')  打赏
            label 18890.20
        span
          img(src='/images/erweima.jpg')
          扫一扫 关注我们
      div(class='index_main_left_two')
        h5 (node性能优化二) API粒度实践
        label(class='ico_bq') javascript
          div(class='sanjiao')
        div(class='clear')  	
        dl
          dt 
            img(src='/images/pic1.jpg')
          dd
            p Written with vim 把复杂拆分成简单，将简单组合成强大，再用强大去解决复杂。-- Unix的设计思想之一 最近在做公司消息中心的重构，是个大坑。老代码会把大批量的任务往内存里面塞入，经常跑着就不知道那里挂了，然后任务也丢失了。 重构主要做了如下几件事 1. API功能单一化（降低API粒度） 2. 将任务队列化并做持久存储，做成消费模型 3. 工作进程之间的相互独立，防止互相干扰。 关于API粒度，粗细各有好处，在这不敢妄下定论......
          div(class='clear')
        span 2016-03-08  	
        ul
          li
            i(class='fa fa-comments')  评论 (20)
          li
            i(class='fa fa-thumbs-up')  赞 (1000)
          li 访问数:513
        div(class='clear')
      div(class='index_main_left_two')
        h5 (node性能优化二) API粒度实践
        label(class='ico_bq') javascript
          div(class='sanjiao')
        div(class='clear')  	
        dl
          dt 
            img(src='/images/pic1.jpg')
          dd
            p Written with vim 把复杂拆分成简单，将简单组合成强大，再用强大去解决复杂。-- Unix的设计思想之一 最近在做公司消息中心的重构，是个大坑。老代码会把大批量的任务往内存里面塞入，经常跑着就不知道那里挂了，然后任务也丢失了。 重构主要做了如下几件事 1. API功能单一化（降低API粒度） 2. 将任务队列化并做持久存储，做成消费模型 3. 工作进程之间的相互独立，防止互相干扰。 关于API粒度，粗细各有好处，在这不敢妄下定论......
          div(class='clear')
        span 2016-03-08  	
        ul
          li
            i(class='fa fa-comments')  评论 (20)
          li
            i(class='fa fa-thumbs-up')  赞 (1000)
          li 访问数:513
        div(class='clear')
      div(class='index_main_left_two')
        h5 (node性能优化二) API粒度实践
        label(class='ico_bq') javascript
          div(class='sanjiao')
        div(class='clear')  	
        dl
          dt 
            img(src='/images/pic1.jpg')
          dd
            p Written with vim 把复杂拆分成简单，将简单组合成强大，再用强大去解决复杂。-- Unix的设计思想之一 最近在做公司消息中心的重构，是个大坑。老代码会把大批量的任务往内存里面塞入，经常跑着就不知道那里挂了，然后任务也丢失了。 重构主要做了如下几件事 1. API功能单一化（降低API粒度） 2. 将任务队列化并做持久存储，做成消费模型 3. 工作进程之间的相互独立，防止互相干扰。 关于API粒度，粗细各有好处，在这不敢妄下定论......
          div(class='clear')
        span 2016-03-08  	
        ul
          li
            i(class='fa fa-comments')  评论 (20)
          li
            i(class='fa fa-thumbs-up')  赞 (1000)
          li 访问数:513
        div(class='clear')
      div(class='index_main_left_two')
        h5 (node性能优化二) API粒度实践
        label(class='ico_bq') javascript
          div(class='sanjiao')
        div(class='clear')  	
        dl
          dt 
            img(src='/images/pic1.jpg')
          dd
            p Written with vim 把复杂拆分成简单，将简单组合成强大，再用强大去解决复杂。-- Unix的设计思想之一 最近在做公司消息中心的重构，是个大坑。老代码会把大批量的任务往内存里面塞入，经常跑着就不知道那里挂了，然后任务也丢失了。 重构主要做了如下几件事 1. API功能单一化（降低API粒度） 2. 将任务队列化并做持久存储，做成消费模型 3. 工作进程之间的相互独立，防止互相干扰。 关于API粒度，粗细各有好处，在这不敢妄下定论......
          div(class='clear')
        span 2016-03-08  	
        ul
          li
            i(class='fa fa-comments')  评论 (20)
          li
            i(class='fa fa-thumbs-up')  赞 (1000)
          li 访问数:513
        div(class='clear')
      div(class='index_main_left_two')
        h5 (node性能优化二) API粒度实践
        label(class='ico_bq') javascript
          div(class='sanjiao')
        div(class='clear')  	
        dl
          dt 
            img(src='/images/pic1.jpg')
          dd
            p Written with vim 把复杂拆分成简单，将简单组合成强大，再用强大去解决复杂。-- Unix的设计思想之一 最近在做公司消息中心的重构，是个大坑。老代码会把大批量的任务往内存里面塞入，经常跑着就不知道那里挂了，然后任务也丢失了。 重构主要做了如下几件事 1. API功能单一化（降低API粒度） 2. 将任务队列化并做持久存储，做成消费模型 3. 工作进程之间的相互独立，防止互相干扰。 关于API粒度，粗细各有好处，在这不敢妄下定论......
          div(class='clear')
        span 2016-03-08  	
        ul
          li
            i(class='fa fa-comments')  评论 (20)
          li
            i(class='fa fa-thumbs-up')  赞 (1000)
          li 访问数:513
        div(class='clear')
    div(class='index_main_right')
      div(class='index_main_right_one')
        h5 文章推荐
        a(href='/') 通过CSS3滤镜让图标变灰（全浏览器兼容）
        a(href='/') CSS中关于vertical-align垂直对齐
        a(href='/') XHTML与HTML的区别
        a(href='/') angularJS中的子指令
        a(href='/') CSS响应式布局到底是什么？
        a(href='/') js的中文排序
        a(href='/') jquery美化select，自定义下拉框样式
        a(href='/') 简单理解javascript的闭包
        a(href='/') js中常用的对象—Array的属性和方法
        a(href='/') js中常用的对象—Math的属性和方法
    div(class='clear')
  div(class='index_bottom')
    p ER逼青年前端团队博客 © 2016
    span ER tip youth team blog
