<<<<<<< HEAD
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="main_landed")
=======
extends layout

block content
  h1= title
  p Welcome to #{title}
>>>>>>> 9fdadd252117424c6023fccd782922f5efc91c25
