html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/landed.css')
  body
    div(class="main")
      div(class='main_login')
        h5 快速注册
        div(class='main_login_contant')
          div(class='main_login_contant_left')
            form(class='main_login_contant_left_form')
              手机号<input class='number_2' type='text' placeholder='可用于找回密码'>
              密&nbsp;&nbsp;&nbsp;码<input class='number_2' type='password' placeholder='密码' >
              验证码<input class='number_3' type='text' placeholder='验证码' >
              <input class='number_4' type='button' value='获取短信验证码' autocomplete='off'>
              <input class='but_ann' type='submit' value='注册'>
              span 
                已有账号  
                a(href='/landed')去登陆
            