/*公共样式*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal}
ol,ul {list-style:none}
caption,th {text-align:left}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal}
q:before,q:after {content:''}
abbr,acronym { border:0}
.left{ float:left;}
.clear{clear: both;}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #959595;
  background-color: #ededed;
}
.left{
  float:left;
}

.right{
  float:right;
}

a {
  text-decoration: none;
  color: #0099cc;
}





/*页头样式*/
header {
  width:100%;
  height: 100px;
  overflow: hidden;
  background: #333333;
}
nav {
  
  width: 1200px;
  margin: 0 auto;
  
}

nav .left_nav{
  width:200px;
  height:75px;
  color:#ccc;
  margin-right:100px; 
  font-size:13.8px;
  padding:25px 0 0 0;
}



nav ul li{
 float:left; 
 height:100px;
 line-height:100px;
}

nav ul li a{
  display:block;
  padding: 0 20px;
  color:#fff;
}

nav ul li a:hover{
  background:#00B7FF;
}

.search_main{
  float:right;
}

.searchs{
  width:210px;
  height:30px;
  border:1px solid #ccc;
  -moz-border-radius: 30px;      /* Gecko browsers */
  -webkit-border-radius: 30px;   /* Webkit browsers */
  border-radius:30px;            /* W3C syntax */
  margin:33px 0 0 0;
}

.search_inp{
  width:165px;
  height:30px;
  line-height:30px;
  border:none;
  background:transparent;
  color:#fff;
  padding:0 0 0 15px;
  float:left;

}

.land_an{
  font-size:14px;
  line-height:100px;
  margin-left:20px;
}

.land_an a{
  margin:0 0 0 10px;
  color:#ccc;
}

.land_an a:hover{
  text-decoration:underline;
  color:#fff;
}

.search_ann{
  float:left;
  padding:7px 0 0 0;
}

/*首页样式*/

.index_main{
  width:1200px;
  background: #f0f;
  margin:20px auto;
}
.index_main_left{
  width:900px;
  float:left;
}

.index_main_left_one{
  width:820px;
  height:130px;
  background: #fff;
  -moz-border-radius: 10px;      /* Gecko browsers */
  -webkit-border-radius: 10px;   /* Webkit browsers */
  border-radius:10px;            /* W3C syntax */
  padding:20px 40px;

}

.index_main_right{
  width:280px;
  float:right;
}

.index_main_right_one{
  width:280px;
  height:170px;
  background: #fff;
  -moz-border-radius: 10px;      /* Gecko browsers */
  -webkit-border-radius: 10px;   /* Webkit browsers */
  border-radius:10px;            /* W3C syntax */
}

.index_main_left_one h5{
  width:100px;
  display:block;
  float:left;
  text-align:center;
  color:#666;
}

.index_main_left_one ul{
  width:440px;
  float:left;
  margin:40px 0 0 80px;
}

.index_main_left_one ul li{
  float:left;
  width:140px;
  height:45px;
  text-align:center;
  border-right:1px solid #ccc;
  padding:5px 0 0 0;
}

.index_main_left_one ul li i{
  display:block;
}



.index_main_left_one ul li label{
  display:block;
  font-size:18px;
  margin:10px 0 0 0;
  color:#0099cc;
}

.index_main_left_one span{
  width:108px;
  display:block;
  text-align:center;
  float:right;
  color:#666;
}

.index_main_left_one span img{
  width:108px;
  margin:0 0 5px 0;
}

.index_main_left_one h5 img{
  width:100px;
  -moz-border-radius: 100px;      /* Gecko browsers */
  -webkit-border-radius: 100px;   /* Webkit browsers */
  border-radius:100px;            /* W3C syntax */
  margin:0 0 5px 0;
}




